@mixin copy {
    font-size:1rem;

    h3 {
        color: #383838;
        font-family:$font-copy-thin;
        font-size:3em;
        margin:0;
    }

    h6 {
        color:$color-kitsune;
        margin:0;
        font-family:$font-copy-italic-light;
        font-size: 1.8em;
        font-weight: 100;
        margin: 1em auto;
        margin-bottom: 2.2em;
    }

    span {
        display: block;
        color:#383838;
        font-size:1.6em;
        font-family:$font-copy;
        margin-top: 1.6em;
    }

    b {
        font-family: $font-copy-bold;
    }
}

html {
    body {

        section {
            width:75%;
            max-width:75%;
            margin: 0 auto;
            position: relative;
            background-color:#FFF;
            box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
            overflow:hidden;
            top:0;
            left:0;
        }

        section.nav {
            height:8em;
            z-index: 15;
            position:fixed;
            background-color: #FFF;
            top:0;
            left:0;
            right:0;
            margin:0 auto;
            font-size:1em;
            overflow:visible;


            .logo {
                display: block;
                width: 8em;
                float: left;
                margin-top: 1.6em;
                position: relative;
                z-index: 2;
                margin-left: 3em;
                transition:opacity 0.3s;
            }

            .nav-main {
                margin:0;
                padding:0;
                list-style:none;
                display:table;
                float:right;
                font-size: 1em;
                font-family: $font-copy-thin;
                font-weight: 100;
                line-height:8.4em;
                top: 0;
                right:0;
                position: absolute;
                z-index: 2;

                li {
                    float:left;
                    margin-right:4em;
                    text-transform: uppercase;
                    cursor:pointer;

                    span {
                        display: inline-block;
                        line-height: 1.6em;
                        border-bottom: solid 2px transparent;
                    }
                }

                li:nth-child(1) {
                    width: 6.8em;
                }

                li:nth-child(2) {
                    width: 4.5em;
                }

                li:nth-child(3) {
                    width: 7.9em;
                }

                li:nth-child(4) {
                    width: 4.7em;
                }

                li:nth-child(5) {
                    width: 8.2em;
                }

                li:nth-child(6) {
                    width: 5.6em;
                }

                .underline {
                    width:4em;
                    height:2px;
                    position:absolute;
                    left:0;
                    top:5.1em;
                    background-color:$color-kitsune;
                    transition:width 0.3s, left 0.3s, opacity 0.3s;
                }
            }

            span {
                font-size:1.4em;
                font-family: $font-copy;
                color:#383838;
            }

            .nav-mobile {
                display: none;
                width: 20px;
                float: right;
                margin-top: 22px;
                margin-right: 22px;
                cursor:pointer;
                position:relative;
                height:17px;

                .hamburger {
                    width:100%;
                    height:17px;
                    position:relative;
                    z-index:5;

                    .line {
                        width: 100%;
                        height: 1px;
                        background-color: $color-kitsune;
                        display: block;
                        z-index:2;
                        transition: background-color 0.3s, opacity 0.2s, transform 0.3s, top 0.3s;
                        position:absolute;
                    }

                    .line-1 {
                        top:0;
                    }

                    .line-2 {
                        top:0;
                        bottom:0;
                        margin:auto;
                    }

                    .line-3 {
                        bottom:0;
                    }
                }

                .links {
                    position:fixed;
                    margin:0;
                    padding:0;
                    top:0;
                    right:-50%;
                    width:45%;
                    height:100%;
                    background-color:$color-kitsune;
                    list-style:none;
                    transition: right 0.3s;

                    .wrapper-links {
                        position:absolute;
                        top:0;
                        bottom:0;
                        margin:auto;
                        display:table;
                        width:100%;

                        li {
                            width:100%;
                            color:#FFF;
                            line-height: 40px;
                            font-size: 12px;

                            span {
                                color:#FFF !important;
                                text-align:left;
                                text-indent: 3em;
                                display: block;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            .nav-mobile-open {
                .hamburger {
                    .line {
                        background-color: #FFF;
                    }

                    .line-2 {
                        transform:rotate(-45deg);
                        top:-9.5px;
                    }

                    .line-1 {
                        top:3px;
                        transform:rotate(45deg);
                    }

                    .line-3 {
                        opacity:0;
                    }
                }

                .links {
                    right:0;
                }
            }
        }

        section.banner {
            margin-bottom:0;
            padding-bottom:0 !important;
            padding-top:8em;

            .carousel-banners {
                width:100%;
                padding-bottom:42%;
                background-color:#e6e6e6;
                position:relative;
                display:none;

                .wrapper-banner {
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    display:block;
                    background-size:cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity:1;
                    z-index: 1;
                    transition:opacity 2s;

                    .wrapper-copy {
                        left: auto;
                        right:3%;
                        max-width: 98em;
                        margin:0;
                        bottom: 5em;

                        .head {
                            font-size: 0.6em;
                            span {
                                color:#FFF;
                                font-family: $font-copy-thin;

                                .kitsune-bold {
                                    color:$color-kitsune;
                                    font-family: $font-copy;
                                }

                                .kitsune {
                                    color:$color-kitsune;
                                }

                                .link {
                                    font-size:1em;

                                    a {
                                        font-size:1em;
                                    }
                                }
                            }
                        }
                    }
                }

                .banner-1 {
                    background-image:url(../images/banner-3.png);
                }

                .banner-2 {
                    background-image:url(../images/banner-2.jpg);
                    display:none;

                    .wrapper-copy {
                        .head {
                            font-size: 0.6em;
                        }
                    }
                }

                .banner-3 {
                    background-image:url(../images/banner-1.jpg);
                    display:none;

                    .wrapper-copy {
                        .head {
                            font-size: 0.7em;

                            span {
                                color:#000;
                                line-height: 1.3em;

                                .link {
                                    font-size: 0.6em;

                                    a {
                                        color:#000;
                                    }
                                }
                            }
                        }
                    }
                }

                .banner-active {
                    opacity:1;
                }

                .container-indicators {
                    width:6.6em;
                    position:absolute;
                    left:0;
                    right:0;
                    margin:0 auto;
                    bottom:3em;
                    z-index:3;
                    display:none;

                    .indicator {
                        width:1.2em;
                        height:1.2em;
                        background-color:#9E9E9E;
                        border-radius: 50%;
                        float:left;
                        margin-right: 1.5em;
                        transition: background-color 1s;
                    }

                    .indicator:last-child {
                        margin:0;
                    }

                    .indicator-active {
                        background-color:$color-kitsune;
                    }
                }
            }

            .logo {
                position: absolute;
                top: 11em;
                left: 24.7em;
                z-index: 2;
                width: 11.2em;
            }

            .banner-biz {
                width:100%;
                padding-bottom:50%;
                background-color:#82b1b2;
                position: relative;

                .wrapper-biz {
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;

                    .container-visual {
                        width:50%;
                        height:100%;
                        position:absolute;
                        left:0;

                        .visual {
                            display:block;
                            width:40em;
                            position:absolute;
                            right:0;
                            top:0;
                            bottom:0;
                            margin:auto 0;
                        }
                    }

                    .container-copy {
                        width:50%;
                        height:100%;
                        position:absolute;
                        right:0;

                        .wrapper-visual {
                            display:table;
                            width:75%;
                            position:absolute;
                            left:0;
                            top:0;
                            bottom:0;
                            margin:auto;

                            .visual {
                                display:block;
                                width:40em;
                                opacity:0;
                            }

                            .copy {
                                position:absolute;
                                left:1.8em;
                                bottom:0.7em;
                                margin:0;
                                color:#FFF;
                                font-family:$font-copy-thin;
                                font-size:2.5em;
                                white-space: nowrap;

                                .kitsune {
                                    color:$color-kitsune;
                                }
                            }
                        }
                    }
                }
            }

            .wrapper-content {
                padding-bottom: 4em;

                .headline {
                    padding-top:1.2em;
                    padding-bottom:0.3em;
                    font-family: $font-copy-thin;
                    font-size:1.5em;

                    span {
                        color:$color-kitsune;
                        font-size:1em;
                        font-family:$font-copy-italic-light;

                        b {
                            font-family:$font-copy-bold;
                        }
                    }
                }

                .copy {
                    i {
                        color:#000;
                    }
                }

                .copy-1 {
                    padding-top:5em;
                    font-size:2.1em;
                }
            }

            .wrapper-tenets {
                display:none;
                max-width: 98em;
                margin:0 auto;
                width:100%;
                margin-top:3em;


                .tenet {
                    width:12em;
                    margin-right:8em;
                    float:left;

                    img {
                        display:block;
                        width:7em;
                        margin:0 auto;
                    }

                    p {
                        text-align:center;
                        font-size:1.6em;
                        white-space: nowrap;
                    }
                }

                .tenet:last-child {
                    margin:0;
                }
            }

            .underlay-border {
                position: absolute;
                width: 200%;
                left: -50%;
                height: 15px;
                bottom: 0;
                box-shadow: 3px 6px 12px -5px rgba(0, 0, 0, 0.42);
            }
        }

        section.intro {
            .wrapper-content {
                @include copy;
                max-width: 85%;
                margin:8em auto;

                h3 {
                    font-size:2.2em;
                }

                h6 {
                    margin: 1.6em auto;
                    margin-bottom: 1.75em;
                }

                .heading-tenets {
                    margin-top:3em;
                }

                .wrapper-tenets {
                    display:table;
                    width: 100%;

                    .tenet {
                        width:8em;
                        float:left;
                        margin-right:9em;
                        margin-top: 5em;

                        .icon {
                            display:block;
                            width:100%;
                        }

                        span {
                            display:block;
                            text-align:center;
                            text-transform: uppercase;
                            font-size: 1.4em;
                            margin-top: 1.5em;
                        }
                    }
                }
            }
        }

        section.features {

            .feature {
                width:100%;
                padding-bottom:55%;
                position:relative;

                .wrapper {
                    width:85%;
                    height:100%;
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    margin:auto;

                    .content {
                        z-index: 1;
                        width: 55%;
                        position: absolute;
                        top:0;
                        bottom:0;
                        right:0;
                        margin:auto 0;
                        @include copy;

                        h6 {
                            margin-bottom:0;
                        }

                        .container-copy {
                            margin-top:2.2em;
                            display:table;

                            .expand {
                                width:2.5em;
                                height:2.5em;
                                border:solid 2px $color-kitsune;
                                text-align:center;
                                line-height:2em;
                                border-radius:50%;
                                position:relative;
                                overflow:hidden;
                                transition:opacity 0.3s;
                                opacity:0 !important;

                                span {
                                    font-size:2.5em;
                                    display:inline;
                                    position:relative;
                                    z-index:1;
                                }

                                .underlay {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    background-color: $color-kitsune;
                                }
                            }

                            .copy {
                                margin-top: -2em;
                            }
                        }
                    }

                    .animation {
                        font-size:0.8em;
                    }
                }

                .background {
                    width:200%;
                    position:absolute;
                    top:0;
                    left:-50%;
                    height:100%;
                }
            }

            .feature-2, .feature-4 {
                .wrapper {
                    .content {
                        left:0;
                        right:auto;
                    }

                     .animation {
                        right:0em !important;
                    }
                }
            }

            .feature-1, .feature-3, .feature-5 {
                .content {
                    right:0;
                }

                .background {
                    background-color:#EBEBEB;
                }

                .animation {
                    left:0em !important;
                }
            }

            .feature-1 {
                .animation {
                    width:50em;
                    height: 29em;
                    position:absolute;
                    z-index:1;
                    left:-10em;
                    top:0;
                    bottom:0;
                    margin:auto;
                    
                    .wrapper-animation {
                        font-size:0.95em;

                        .base {
                            display:block;
                            width:100%;
                            position:relative;
                            z-index:2;
                        }

                        .base-shadow {
                            position: absolute;
                            top: 1.5em;
                            left: 1.5em;
                            width:calc(100% - 0.7em);
                        }

                        .container-path {
                            position: absolute;
                            z-index: 2;
                            right: 2em;
                            bottom: 4em;
                            width: 7.6em;
                            height:7em;

                            .wrapper-path {
                                overflow:hidden;
                                position:relative;
                                width: 100%;
                                height: 100%;
                                bottom:0;
                                z-index:1;

                                .path {
                                    display: block;
                                    position:absolute;
                                    bottom:0;
                                    right:0;
                                    width:100%;
                                }
                            }

                            .rocket {
                                position: absolute;
                                top: -8.3em;
                                right: -4.28em;
                                width: 8em;
                                z-index: 1;
                            }
                        }

                        .gear {
                            width: 4.6em;
                            position:absolute;
                            z-index:2;
                            left:6.5em;
                            bottom:8.4em;
                            animation:gear-rotate 3s linear infinite;
                        }

                        .container-needle {
                            width: 7em;
                            height: 7em;
                            position: absolute;
                            top: 5.5em;
                            left: 5.5em;
                            z-index: 3;
                            animation:needle-rotate 1s ease-out infinite;

                            .needle {
                                margin: auto;
                                display: block;
                                position: absolute;
                                top: -0.5em;
                                left: 2.2em;
                                width: 2.9em;
                            }
                        }

                        .container-needle-shadow {
                                width: 7em;
                                height: 7em;
                                position: absolute;
                                top: 6.5em;
                                left: 7.5em;
                                z-index: 1;
                                animation:needle-rotate 1s ease-out infinite;

                            .needle-shadow {
                                margin: auto;
                                display: block;
                                position: absolute;
                                top: -0.5em;
                                left: 2.2em;
                                width: 2.9em;
                            }
                        }

                        .arrow {
                            position: absolute;
                            top: 3.8em;
                            z-index: 2;
                            width: 6.3em;
                        }

                        @keyframes needle-rotate {
                            0% {
                                transform:rotate(0deg);
                            }

                            20% {
                                transform:rotate(20deg);
                            }

                            30% {
                                transform:rotate(5deg);
                            }

                            50% {
                                transform:rotate(-40deg);
                            }

                            100% {
                                transform:rotate(0deg);
                            }
                        }

                        @keyframes gear-rotate {
                            0% {
                                transform:rotate(0deg);
                            }

                            100% {
                                transform:rotate(360deg);
                            }
                        }
                    }
                }

                .content {
                    height:37rem;
                }
            }

            .feature-2 {
                .animation {
                    width:44.5em;
                    height: 44.5em;
                    overflow:hidden;
                    position:absolute;
                    top:0;
                    bottom:0;
                    margin:auto 0;
                    right:0;
                    z-index:1;

                    .base {
                        display:block;
                        width:100%;
                    }

                    .container-hand {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        z-index: 1;
                        bottom: 0px;
                        width: 11em;

                        .hand {
                            display:block;
                            width:100%;
                        }

                        .arm {
                            width: 5em;
                            height: 0;
                            background-color: #2e495f;
                            margin-left: 3.2em;
                        }
                    }

                    .container-machine {
                        position:absolute;
                        left:0;
                        right:0;
                        margin:0 auto;
                        z-index:2;
                        top:5em;
                        display:table;
                        width:10em;

                        .machine {
                            display:block;
                            width:100%;
                        }

                        .light {
                            position: absolute;
                            top: 0.2em;
                            width: 2.3em;
                            left: 0.3em;
                            opacity:0;
                        }

                        .thankyou {
                            position: absolute;
                            top: 3.8em;
                            width: 6.7em;
                            left: 1.4em;
                        }
                    }
                }

                .content {
                    height:39rem;
                }
            }

            .feature-3 {
                .animation {
                    width:44.5em;
                    height: 44em;
                    position:absolute;
                    top:0;
                    bottom:0;
                    margin:auto 0;
                    left:-14%;
                    z-index:1;
                    overflow:hidden;
                    border-radius:50%;

                    .base {
                        display:block;
                        width:100%;
                        position:relative;
                        z-index:4;
                    }

                    .mac {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        bottom: 8em;
                        width: 30em;
                    }

                    .site-1, .site-2, .site-3 {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        bottom: 14.5em;
                        width: 21em;
                        transition:opacity 0.5s;
                    }

                    .site-1 {
                        z-index:1;
                    }

                    .site-2 {
                        z-index:2;
                    }
                    
                    .site-3 {
                        z-index:3;
                    }

                    .city-1, .city-2, .city-3 {
                        position:absolute;
                        right:0;
                        left:0;
                        margin:0 auto;
                        top:6.3em;
                        height:3.5em;
                        z-index:5;
                        transition:opacity 0.5s;
                    }
                }
                
                .content {
                    height:32rem;
                }
            }

            .feature-4 {
                padding-bottom: 106em !important;

                .animation {
                    width:44.5em;
                    height: 44em;
                    position:absolute;
                    top:17em;
                    margin:auto 0;
                    right:-14%;
                    z-index:1;

                    .base {
                        display:block;
                        width:100%;
                    }

                    .computer {
                        position: absolute;
                        top: 19.1em;
                        left: 19.4em;
                        width: 22em;
                    }

                    .container-load {
                        display: table;
                        position: absolute;
                        top: 9.7em;
                        left: 20.14em;
                        width: 4.7em;
                        z-index: 1;

                        .hook {
                            display:block;
                            width: 100%;
                            position:relative;
                            z-index:1;
                        }

                        .cable {
                            width:1px;
                            height:10.6em;
                            display:block;
                            margin-left: 2.13em;
                        }
                    }

                    .box {
                        position:absolute;
                        left: 20.4em;
                        width: 4.2em;
                        height: 1.65em;
                        display: block;
                        margin:0 auto;
                        margin-top: 1px;
                    }

                    .crane {
                        position: absolute;
                        bottom: 11.1em;
                        left: 5em;
                        width: 20.8em;
                    }
                }
                
                .content {
                    height: 32rem;
                    bottom:auto !important;
                    top:15em !important;
                }

                .wrapper-diagram {
                    width:100%;
                    display:table;
                    position:absolute;
                    bottom:8em;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    border-top: dashed 1px #383838;
                    padding-top: 7em;

                    .diagram {
                        display:block;
                        width:100%;
                    }

                    .diagram-mobile {
                        display:none;
                    }

                    .desc {
                        font-size:1.6rem;
                        color:#383838;
                        margin: 0;
                        margin-bottom: 4em;
                    }
                }
            }

            .feature-5 {
                .animation {
                    width:44.5em;
                    height: 44em;
                    position:absolute;
                    top:0;
                    bottom:0;
                    margin:auto 0;
                    left:-14%;
                    z-index:1;

                    .base {
                        display:block;
                        width:100%;
                    }

                    .bank {
                        position: absolute;
                        left: 2em;
                        right: 0;
                        margin: 0 auto;
                        bottom: 5.5em;
                        width: 25em;
                        z-index:2;
                    }

                    .container-coins {
                        position:absolute;
                        width:15em;
                        height:20em;
                        top:0;
                        left:16.6em;

                        .coin-1 {
                            position: absolute;
                            left: 4em;
                            right: 0;
                            margin: 0 auto;
                            top: 9.6em;
                            width: 7.2em;
                            z-index:1;
                        }

                        .coin-2 {
                            position: absolute;
                            top: 2em;
                            left: -9em;
                            right: 0;
                            margin: 0 auto;
                            width: 5.8em;
                            z-index:1;
                        }

                        .coin-3 {
                            position:absolute;
                            left: 0;
                            right: -3em;
                            margin: 0 auto;
                            top: -2em;
                            width: 4.5em;
                            z-index:1;
                        }
                    }
                }

                .content {
                    height: 30rem;
                }
            }

        }

        section.enquiry {
            padding-top:8em;
            padding-bottom: 10em;

            .wrapper {
                margin:0 auto;
                width: 88%;
                font-size:1.2em;
                position:relative;

                .head {
                    margin:0;
                    position:relative;
                    z-index:2;
                    width:100%;
                    margin:0 auto;
                    @include copy;

                    h6 {
                        font-size: 2.4em;
                    }
                }

                .copy {
                    color:$color-kitsune;
                    font-size:0.9em;
                }

                form {
                    display: table;
                    width:100%;
                    margin-top: 5em;
                    position:relative;
                    z-index: 2;
                    font-size:0.86em;
                    margin:0 auto;

                    .wrapper-input {
                        width:30%;
                        display: block;
                        position:absolute;
                        right:0;
                        height:100%;

                        input {
                            display: block;
                            width: calc(100% - 4px);
                            text-indent: 1.5em;
                            line-height: 2.5em;
                            text-transform: uppercase;
                            font-size: 2em;
                            position: absolute;
                            right:0;
                            padding:0;
                            height: 2.5em;
                            border: solid 1px $color-enquiry-border;
                            -webkit-appearance: none;
                            border-radius: 0 !important;
                            outline: none !important;
                        }

                        .email {
                            top: 0;
                            bottom:0;
                            margin:auto;
                        }

                        .submit {
                            bottom: 0em;
                            border: none;
                            background-color: $color-kitsune;
                            color: #FFF;
                            text-align: center;
                            text-indent: 0;
                            width:calc(100% - 2px);
                        }
                    }

                    .wrapper-textarea {
                        width:60%;
                        display:block;

                        .message {
                            display: block;
                            width: 100%;
                            height: 12em;
                            max-height: 12em;
                            font-size: 2em;
                            padding-left: 1.5em;
                            padding-top: 1.1em;
                            border: solid 1px $color-enquiry-border !important;
                            -webkit-appearance: none;
                            border-radius: 0 !important;
                            outline: none !important;
                        }
                    }
                }

                .overlay {
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    background-color:#FFF;
                    z-index:3;
                    pointer-events: none;
                    opacity:0;
                    transition:opacity 0.3s;

                    .message {
                        height: 10em;
                        @include absolute-center;
                    }
                }

                .overlay-show {
                    opacity:1;
                }
            }
        }

        .section-footer {
            background-color: $color-footer;
            font-size: 1.2em;

            .strip {
                width:100%;
                height:1em;
                background-color:$color-kitsune;
            }

            .container-copyright {
                display: table;
                padding: 2.5em 0;
                margin-left: 5em;

                .container-logo {
                    display:table-cell;
                    border-right:solid 1px $color-kitsune;

                    img {
                        display:block;
                        width:13.5em;
                        margin-right:3em;
                        padding: 2.5em 0;
                    }
                }

                .container-copy {
                    display:table-cell;
                    vertical-align: middle;

                    span {
                        text-align: left;
                        padding-left: 2.8em;
                        display: block;
                        font-size: 1.3em;
                        line-height: 1.3em;
                        color:$color-kitsune;

                        br {
                            display: none;
                        }

                        a {
                            color:$color-kitsune !important;
                            text-decoration: none !important;
                        }
                    }
                }
            }

            .container-social {
                position:absolute;
                right:7em;
                top:7em;

                .head {
                    color:$color-kitsune;
                    font-size: 1.3em;
                    display: block;
                    margin-bottom:1em;
                }

                .container-icon {
                    width:3.5em;
                    height:3.5em;
                    position:relative;
                    float:left;
                    margin-right:2em;
                    overflow:hidden;

                    .icon-social {
                        position:absolute;
                        top:0;
                        left:0;
                    }

                    iframe, a {
                        width:10em !important;
                        position: absolute !important;
                        left:0 !important;
                        top:0 !important;
                        z-index:1 !important;
                        transform:scale(10) !important;
                        opacity:0 !important;
                    }
                }

                .icon-social {
                    display:block;
                    width:3.5em;
                    float:left;
                    margin-right:2em;
                }
            }
        }
    }
}

@media only screen and (min-width:0px) {
    html {
        font-size: 8px;
        body {
            section {
                width:100%;
                max-width:100%;
            }
        }
    }
}

@media only screen and (min-width:500px) and (max-width:580px) {
    html {
        body {
            section.banner .banner-biz {
                font-size:1.05em !important;
            }
        }
    }
}

@media only screen and (min-width:581px) and (max-width:698px) {
    html {
        body {
            section.banner .banner-biz {
                font-size:1.2em !important;
            }
        }
    }
}   

@media only screen and (max-width:699px) {
    html {
        body {

            section.nav {

                .nav-mobile {
                    display:block !important;
                }

                .nav-main {
                    display:none !important;
                }
            }

            section.banner {
                .banner-biz {
                    padding-bottom: 0;

                    .wrapper-biz {
                        position:relative;
                        display:table;
                        height:auto;

                        .container-visual {
                            position:relative;
                            width:100%;
                            padding-top:4em;

                            .visual {
                                position:relative;
                                margin:0 auto;
                                width:30em;
                            }
                        }

                        .container-copy {
                            position:relative;
                            width:100%;

                            .wrapper-visual {
                                position:relative;
                                width:85%;

                                .visual {
                                    display:none;
                                }

                                .copy {
                                    position:static;
                                    white-space: normal;
                                    padding-top:1em;
                                    padding-bottom:1.5em;
                                    font-family:$font-copy;

                                    br {
                                        display:none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            section.features {
                .feature {
                    padding-bottom:0 !important;
                    .wrapper {
                        position:relative;
                        padding: 10em 0;
                        
                        .animation {
                            position:relative;
                            margin-bottom:5em;
                            top:0 !important;
                        }
                        
                        .content {
                            position:relative;
                            width:100%;
                            height: auto;
                            display: table;
                            margin-top:6em;
                            top:0 !important;

                            h3 {
                                br {
                                    display:none;
                                }
                            }
                        }

                        .wrapper-diagram {
                            position:relative;
                            width:100%;
                            bottom:0;
                            margin-top:6em;
                            padding-top: 6em;
                        }
                    }
                }

                .feature-1 {
                    .wrapper {
                        .animation {
                            .arrow {
                                right:16em;
                                top:3.7em;
                            }

                            .container-path {
                                height:28em;
                            }
                        }
                    }
                }

                .feature-2 {
                    .wrapper {
                        .animation {
                            .container-hand .arm {
                                height:7.4em;
                            }

                            .container-machine .light {
                                animation-name:blink;
                                animation-duration:2s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }

                            @keyframes blink {
                                0% {
                                    opacity:1;
                                }

                                25% {
                                    opacity:0;
                                }

                                50% {
                                    opacity:1;
                                }

                                75% {
                                    opacity:0;
                                }

                                100% {
                                    opacity:1;
                                }
                            }
                        }
                    }
                }

                .feature-3 {
                    .wrapper {
                        .animation {
                            .site-1,.site-2,.site-3 {
                                left:-43em;
                            }

                            .city-1,.city-2,.city-3 {
                                opacity:0;
                            }

                            animation-name: slideshow;
                            animation-duration: 6s;
                            animation-fill-mode: forwards;
                            animation-iteration-count: infinite;

                            .site-1 {
                                animation-name: site-1;
                                animation-duration: 12s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }
                            
                            .city-1 {
                                animation-name: city-1;
                                animation-duration: 12s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }

                            .site-2 {
                                animation-name: site-2;
                                animation-duration: 12s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }
                            
                            .city-2 {
                                animation-name: city-2;
                                animation-duration: 12s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }

                            .site-3 {
                                animation-name: site-3;
                                animation-duration: 12s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }
                            
                            .city-3 {
                                animation-name: city-3;
                                animation-duration: 12s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }

                        }

                        @keyframes site-1 {
                            0% {
                                left:-43em;
                            }

                            5% {
                                left:0em;
                            }

                            100% {
                                left:0em;
                            }
                        }

                        @keyframes city-1 {
                            0% {
                                opacity: 0;
                            }

                            10% {
                                opacity: 1;
                            }

                            35% {
                                opacity: 1;
                            }

                            40% {
                                opacity: 0;
                            }
                        }

                        @keyframes site-2 {
                            0% {
                                left:-43em;
                            }

                            35% {
                                left:-43em;
                            }

                            40% {
                                left:0em;
                            }

                            100% {
                                left:0em;
                            }
                        }

                        @keyframes city-2 {
                            0% {
                                opacity: 0;
                            }

                            35% {
                                opacity: 0;
                            }

                            40% {
                                opacity: 1;
                            }

                            75% {
                                opacity: 1;
                            }

                            80% {
                                opacity: 0;
                            }
                        }

                        @keyframes site-3 {
                            0% {
                                left:-43em;
                            }

                            75% {
                                left:-43em;
                            }

                            80% {
                                left:0em;
                            }

                            100% {
                                left:0em;
                            }
                        }

                        @keyframes city-3 {
                            0% {
                                opacity: 0;
                            }

                            75% {
                                opacity: 0;
                            }

                            80% {
                                opacity: 1;
                            }

                            100% {
                                opacity:1;
                            }
                        }
                    }
                }

                .feature-4 {
                    .wrapper {
                        .animation {
                            .container-load {
                                .cable {
                                    height:13.4em;
                                    animation-name:cable;
                                    animation-duration:10s;
                                    animation-fill-mode: forwards;
                                    animation-iteration-count: infinite;
                                }
                            }
                            .box {
                                left: 20.3em;
                                bottom:11.1em;
                                animation-name:box;
                                animation-duration:10s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                            }
                        }

                        @keyframes box {
                            0% {
                                bottom:11.1em;
                            }

                            20% {
                                bottom:11.1em;
                            }

                            30% {
                                bottom: 21.3em;
                            }

                            70% {
                                bottom: 21.3em;
                            }

                            80% {
                                bottom:11.1em;
                            }
                        }

                        @keyframes cable {
                            0% {
                                height:15.2em;
                            }

                            20% {
                                height:15.2em;
                            }

                            30% {
                                height:5em;
                            }

                            70% {
                                height:5em;
                            }

                            80% {
                                height:15.2em;
                            }

                            100% {
                                height:15.2em;
                            }
                        }

                        .wrapper-diagram {
                            .diagram {
                                display:none;
                            }

                            .diagram-mobile {
                                display:block;
                            }
                        }
                    }
                }

                .feature-5 {
                    .wrapper {
                        .animation {}
                    }
                }
            }

            section.enquiry {
                .wrapper {
                    width:85%;
                    font-size:1em;
                }
            }

            .section-footer {
                font-size:1.1em;

                .container-copyright {
                    font-size:0.8em;
                    margin-left:3em !important;
                }
                .container-social {
                    left: 18.7em !important;
                    bottom:3em !important;

                    .head {
                        margin-bottom: 0.5em !important;
                    }

                    .icon-social {
                        font-size:0.7em !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:860px) {
    html {
        body {
            .section-footer {
                .container-copyright {
                    .container-copy {
                        vertical-align:bottom;
                        span {
                            padding-bottom:0.2em;
                        }
                    }
                }

                .container-social {
                    right:auto;
                    left:25.2em;
                    top:auto;
                    top:4em;
                }
            }
        }
    }
}

@media only screen and (min-width:700px) {
    html {
        body {
            section.banner {
                .banner-biz {
                    padding-bottom:45em;
                    font-size: 1em;
                }
            }

            section.intro {
                .wrapper-content {
                    width:86%;
                }
            }

            section.features {
                .feature {
                    padding-bottom:56em;

                    .wrapper {
                        width:86%;

                        .animation {
                            font-size:0.7em;
                        }
                    }
                }
            }

            section.enquiry {
                .wrapper {
                    width:86%;
                    font-size:1.1em !important;
                }
            }
        }
    }
}

@media only screen and (min-width:799px) {
    html {
        body {
            section.banner {
                .banner-biz {
                    padding-bottom:45%;
                    font-size:1.2em;
                }
            }

            section.features {
                .feature {
                    padding-bottom:50%;
                    .wrapper {
                        width:88%;
                        .animation {
                            font-size:0.75em;
                        }

                        .content {
                            width:55%;
                        }
                    }
                }

                .feature-4 {
                    padding-bottom: 113em !important;
                }
            } 
        }
    }
}

@media only screen and (min-width: 1100px) {
    html {
        body {

            section {
                width:80%;
                max-width:80%;
            }

            section.intro {
                .wrapper-content {
                    width:86%;
                    margin: 10em auto;
                }
            }

            section.banner {
                .banner-biz {
                    font-size:1.1em;
                }
            }

            section.intro {
                .wrapper-content {
                    width:86%;
                }
            }

            section.features {
                .feature {
                    padding-bottom:60em;
                    .wrapper {
                        width:88%;
                        .animation {
                            font-size:0.75em;
                        }

                        .content {
                            width:55%;
                        }
                    }
                }
                .feature-4 {
                    padding-bottom: 108em !important;
                }
            }
        }
    }
}

@media only screen and (min-width:1300px) {
    html {
        font-size: 10px;

        section.features {
            .feature-4 {
                padding-bottom: 108em !important;
            }
        }

        section.enquiry {
            .wrapper {
                font-size:1em !important;
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    html {
        body {
            section.intro {
                .wrapper-content {
                    width:87%;
                    margin: 10em auto;
                }

                .wrapper-tenets {
                    width:87%;
                }
            }

            section.features {
                .feature {
                    padding-bottom:62em;

                    .wrapper {
                        width:87%;
                        .animation {
                            font-size:0.85em;
                        }

                        .content {
                            width:50%;
                        }
                    }
                }

                .feature-4 {
                    padding-bottom: 118em !important;
                }

                .feature-1, .feature-3, .feature-5 {
                    .content {
                        right:0% !important;
                    }

                    .animation {
                        left:0% !important;
                    }
                }

                .feature-2, .feature-4 {
                    .wrapper {
                        .content {
                            left:0% !important;
                            right:auto !important;
                        }

                        .animation {
                            right:0% !important;
                        }
                    }
                }
            }

            section.enquiry {
                .wrapper {
                    width:87%;
                    font-size:1.1em !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 1750px) {
    html {
        body {
            section.banner {
                .banner-biz {
                    font-size:1.3em;
                }
            }

            section.intro {
                .wrapper-content {
                    width:85%;
                    margin: 10em auto;
                }

                .wrapper-tenets {
                    width:85%;
                }
            }

            section.features {
                .feature {
                    padding-bottom:65em;
                    .wrapper {
                        width:80%;
                        .animation {
                            font-size:0.9em;
                        }

                        .content {
                            width:50%;
                        }
                    }
                }

                .feature-1, .feature-3, .feature-5 {
                    .content {
                        right:4% !important;
                    }

                    .animation {
                        left:4% !important;
                    }
                }

                .feature-2, .feature-4 {
                    .wrapper {
                        .content {
                            left:4% !important;
                            right:auto !important;
                        }

                        .animation {
                            right:4% !important;
                        }
                    }
                }

                .feature-4 {
                    padding-bottom: 121em !important;

                    .wrapper-diagram {
                        width:92%;
                    }
                } 
            }

            section.enquiry {
                .wrapper {
                    width:80%;
                    font-size: 1.2em;
                }
            }
        }
    }
}