html {
    body.docs {
        section.nav {
            .nav-main {
                li {
                    width:auto;
                }

                .underline {
                    width:10.7em;
                    right:4em;
                    left:auto;
                }
            }
        }

        section.docs-main {
            background-color:#616161;
            position:fixed;
            top:8em;
            height:calc(100% - 8em);
            left:0;
            right:0;
            margin:0 auto;

            .docs-nav {
                width:30em;
                height:calc(100% - 8em);
                margin:4em 0;
                position:relative;
                overflow:scroll;
                float:left;

                ul {
                    padding:0;
                    margin:0;
                    list-style: none;
                    color:#FFF;

                    li {
                        position:relative;   
                    }
                }

                .level-1 > li > span {
                    display:block;
                    font-size:2em;
                    line-height:3em;
                    text-indent:3em;
                }

                .level-2 > li > span {
                    display: block;
                    font-size: 1.6em;
                    line-height: 2.6em;
                    text-indent: 5em;
                }

                .level-3 > li > span {
                    display: block;
                    font-size: 1.4em;
                    line-height: 2.6em;
                    text-indent: 7em;
                }

                .indicator-level-1 {
                    position: absolute;
                    width: 4px;
                    height: 2.5em;
                    background-color: $color-kitsune;
                    top: 23.8em;
                    left: 3.5em;
                }

                .k-View-1 .level-2 > .indicator-level-2 {
                    position: absolute;
                    width: 4px;
                    height: 2em;
                    background-color: $color-widget;
                    top: 7.1em;
                    left: 5.5em;
                }
            }

            .docs-container {
                width: calc(100% - 46em);
                height: calc(100% - 10em);
                float: right;
                padding-top: 5em;
                padding-right: 8em;
                background-color: #f9f9f9;
                padding-left: 8em;
                overflow:scroll;
                position:relative;
                z-index:2;

                .head-main {
                    margin:0;
                    padding:0;
                    font-size:3.4em;
                    color:$color-widget;
                    font-family:$font-copy-thin;
                }

                .head-1 {
                    color:$color-kitsune;
                    margin-top:2em;
                }

                .copy {
                    margin:0;
                    padding:0;
                    font-size:1.6em;
                    font-family:$font-copy-thin;
                    width:85%;
                    margin-top: 0.5em;
                }

                .prop-table {
                    width:95%;
                    font-size:1.4em;
                    border-radius:4px;
                    margin-top: 1em;
                    padding: 1em 0;
                    border-collapse: collapse;

                    .prop-name {
                        width:22%;
                        vertical-align: middle;
                        line-height:3em;
                        text-indent: 2em;
                        color:$color-kitsune;
                        font-family: $font-copy-italic;
                        border-collapse: collapse;
                    }

                    .prop-desc {
                        width:78%;
                        vertical-align: middle;
                        border-collapse: collapse;
                        padding: 1.4em;
                        color:#696969;
                        padding-right:5em;
                    }

                    tr:nth-child(even){
                        background-color:#f1f1f1;
                    }

                    tr:nth-child(odd){
                        background-color:#d8d8d8;
                    }
                }

                .head-2 {
                    color:$color-copy;
                    margin-top:2em;
                }

                pre {
                    font-size:1.4em;
                    line-height: 1.5em;
                    width:95%;
                    position:relative;
                    margin-bottom: 5em;

                    code {
                        padding:2em;
                        background-color:#f1f1f1;
                        color:$color-copy;
                        display: block;

                        .hljs-keyword, .hljs-selector-tag, .hljs-bullet, .hljs-attr {
                            color:$color-widget;
                        }

                        .hljs-tag {
                            color:$color-entity;
                        }

                        .hljs-string, .hljs-doctag, .hljs-addition, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo {
                            color:$color-kitsune;
                        }

                        .hljs-title, .hljs-name {
                            color:$color-view;
                        }
                    }

                    .type {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-family: kitsune;
                        font-size: 1.2em;
                        background-color: #d8d8d8;
                        padding: 0.5em 1.2em;
                        text-transform: uppercase;
                        padding-top: 0.7em;
                    }
                }
            }

            .underlay-docs {
                width:calc(100% - 30em);
                height: 100%;
                position:absolute;
                background-color:#f9f9f9;
                z-index: 1;
                right:0;
            }
        }
    }
}