$color-kitsune:#F06428;
$color-browser-frill:#7B7B7B;
$color-entity:#96c800;
$color-view:#FFB900;
$color-widget: #00AFF0;
$color-widget-props: #F06428;
$color-entity-o:#FBFBFB;
$color-view-o:#EAEAEA;
$color-widget-o: #CECECE;
$color-widget-props-o: #616161;
$color-doc-body:#4C4C4C;
$color-copy: #696969;
$color-section:#868686;
$color-dev-landing:#F9F9F9;
$color-enquiry-border:#CACACA;
$color-footer:#421303;
$color-doc-bar:#636363;
$color-doc-bar-button:#808285;

$shadow-entity: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
$shadow-view: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
$shadow-widget: 0px 0px 7px 1px rgba(58, 58, 58, 0.6);
$shadow-widget-props: 0px 0px 15px 1px rgba(255, 255, 255, 0.7);
$shadow-nav:1px 1px 14px -1px rgba(0,0,0,0.81);

$font-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$font-copy: kitsune;
$font-copy-italic: kitsune-italic;
$font-copy-italic-light: kitsune-italic-light;
$font-copy-thin: kitsune-thin;
$font-copy-bold: kitsune-bold;

@import './normalize.scss';

@font-face {
    font-family: "kitsune";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "kitsune-Thin";
    src: url("../fonts/TitilliumWeb-Light.ttf");
}

@font-face {
    font-family: "kitsune-italic";
    src: url("../fonts/TitilliumWeb-Italic.ttf");
}

@font-face {
    font-family: "kitsune-bold";
    src: url("../fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: "kitsune-italic-light";
    src: url("../fonts/TitilliumWeb-LightItalic.ttf");
}

@mixin absolute-center() {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

@mixin component($width, $height, $z-index, $color) {
    width:$width;
    height:$height;
    z-index:$z-index;
    background-color: $color;
    box-shadow:none;
    transform:scale(1);
    transition: transform 0.5s, box-shadow 0.3s, background-color 0.3s;
    @include absolute-center();
}

@mixin component-focus($scale, $shadow) {
    box-shadow:$shadow;
    transform:scale($scale);
}

@mixin component-color($color) {
    background-color: $color;
}

@mixin component-widget($width, $top, $bottom, $left, $right) {
    width:$width;
    height:7.7em;
    top:$top;
    bottom:$bottom;
    left:$left;
    right:$right;
    background-color: $color-widget-o;
    position: absolute;
}

@mixin component-widget-props($width, $height, $top, $bottom, $left, $right) {
    width: $width;
    height: $height;
    top:$top;
    bottom:$bottom;
    left:$left;
    right:$right;
    position:absolute;
    background-color:$color-widget-props-o;
    display: block;
}

@mixin explaination($color, $z-index) {
    z-index: $z-index;
    font-family:$font-copy;
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 0.5s;
    pointer-events: none;

    .wrapper {
        position:absolute;
        top:2em;
        left:0;
        display: table;
        width:80%;

        h3 {
            color:$color;
            font-size: 3.5em;
            font-weight: 100;
            font-family:$font-copy;
            margin: 0;
            margin-bottom: 0.6em;

        }

        p {
            margin: 0;
            width: 95%;
            color: $color-copy;
            font-family:$font-copy;
            font-size: 1.5em;
            line-height: 1.8em;

            span {
                color:#FFF;
                background-color:$color;
                padding:0 0.5em;
                border-radius: 0.2em;
                display: inline-block;
                height: 1.6em;
                line-height: 1.55em;
                margin-right:0.5em;
            }
        }
    }
}

@mixin exp-focus() {
    opacity:1;
    pointer-events: all;
}

@mixin indicator($color, $left) {
    width: 1.6em;
    height: 1.6em;
    cursor:pointer;
    background-color: $color;
    border-radius: 50%;
    left: $left;
    z-index: 1;
    position: absolute;
    border:solid 0px #FFF;
    transform:scale(1);
    transition: transform 0.5s, border 0.5s;
}

@mixin marker($top,$bottom) {
    width: 3em;
    height: 0.6em;
    left: 0;
    position: absolute;
    top:$top;
    bottom:$bottom;
    transition:background-color 0.5s;
}

@mixin next-focus($color, $top) {
    top: $top;
    transition: top 0.5s;

    .body {
        transition:background-color 0.5s;
        background-color:$color;
    }

    .arrow {
        transition:border-left 0.5s;
        border-left:0.9em solid $color;
    }
}

@mixin code-focus($color) {
    background-color:$color;
    padding:0 0.5em;
    border-radius: 0.2em;
    display: inline-block;
    height: 1.6em;
    line-height: 1.55em;
    color:#FFF;
}

@mixin tab($color, $left, $right) {
    display:table;
    position:absolute;
    left:$left;
    right:$right;

    .tab {
        width:10em;
        height:3em;
        line-height: 3em;
        font-size:1.7em;
        font-family:$font-code;
        text-align: center;
        position:relative;
        color:$color;
        border: solid 0.15em;
        border-radius: 0.5em;
        cursor:pointer;

        span {
            display: block;
        }

        .indicator {
            width: 0.6em;
            height: 0.6em;
            position: absolute;
            top: 1.1em;
            left: -0.45em;
            border-radius: 50%;
            border: solid 0.15em $color;
            background-color: #FFF;
            transition: background-color 0.3s;
        }
    }

    .tab:hover {
        .indicator {
            background-color:$color;
        }
    }
}

@mixin section-name($margin) {
    display:none;
    font-family: $font-code;
    font-weight: 100;
    font-size: 3em;
    margin-bottom: $margin;
    letter-spacing: 0.1em;

    .name {
        position:relative;
        display:block;
        color:$color-section;

        .underline {
            width: 100%;
            height: 0.06em;
            background-color: $color-section;
            display: block;
        }
    }
}

@mixin doc-pill($color, $height) {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    height: $height;
    margin-top: 0.7em;

    li {
        float:left;
        height:2.5em;
        padding:0 1em;
        border: 0.15em solid $color;
        color:$color-copy;
        line-height:2.8em;
        border-radius:0.3em;
        text-align:center;
        margin-right: 2em;
        cursor:pointer;
        position:relative;
        overflow: hidden;

        span {
            color:#000;
            transition:bottom 0.3s;
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            bottom:100%;
            background-color:$color;
            text-align:center;
            text-transform: uppercase;
        }
    }

    li:hover {
        span {
            bottom:0;
        }
    }

    .hover {
        border: 0.15em solid $color-entity;
        span {
            background-color:$color-entity;
        }
    }

    .mandatory {
        border: 0.15em solid #000;
    }

    .hidden {
        border: 0.15em solid #D6D6D6;
    }

    .youtube {
        width: 7em;
    }

    .type {
        width:12em;
    }

    .no-space {
        margin-right: 0;
    }

    .message {
        width:6em;
    }

    .enq {
        width:13em;
    }
}

@mixin doc-expand($margin) {
    .doc {
        transition-delay: 0s !important;
        margin-left:$margin !important;
        width:97.5em;

        .inner-wrapper-doc {
            .button-expand {

                .expand {
                    opacity: 0;
                }

                .collapse {
                    opacity: 1;
                }
            }

            .overview {
                width: 27.5em;
                transition-delay:0s !important;
            }

            .detail {
                opacity:1;
            }
        }
    }
}

html {
    width:100%;
    height:100%;
    font-size:10px;

    body{
        width:100%;
        height:100%;
        display: table;
        background-color:#DCDCDC;
        color:#383838;
        font-family: $font-copy;

        .section-navigation {
            width:calc(100% - 8em);
            max-width: 80%;
            height:11em;
            text-align: center;
            display:table;
            z-index: 15;
            position:fixed;
            background-color: #FFF;
            top:0;
            left:0;
            right:0;
            margin:0 auto;
            box-shadow: 0px 2px 10px 0px transparent;
            transition: box-shadow 0.3s;


            .logo {
                display: block;
                width: 11em;
                float: left;
                margin-top: 2.3em;
                position: relative;
                z-index: 2;
                margin-left: 3.7em;
            }

            .overlay-logo {
                width:20em;
                height:100%;
                background-color: #FFF;
                position:absolute;
                top:0;
                left:0;
                opacity:1;
                z-index:5;
                transition:opacity 0.3s;
            }

            .nav-main {
                margin:0;
                padding:0;
                list-style:none;
                display:table;
                float:right;
                font-size: 1.8em;
                font-family: $font-copy-thin;
                font-weight: 100;
                line-height:3em;
                top: 1.6em;
                right:0;
                position: absolute;
                z-index: 2;

                li {
                    float:left;
                    margin-right:2.2em;
                    text-transform: uppercase;
                    font-size:0.85em;
                    cursor:pointer;
                }

                li.active {
                    color:$color-kitsune;
                }
            }

            .nav-mobile {
                display: none;
                width: 20px;
                float: right;
                margin-top: 15px;
                margin-right: 14px;
                cursor:pointer;
                position:relative;
                height:17px;

                .hamburger {
                    width:100%;
                    height:17px;

                    .line {
                        width: 100%;
                        height: 1px;
                        background-color: $color-kitsune;
                        display: block;
                        z-index:2;
                        transition: background-color 0.3s, opacity 0.2s, transform 0.3s, top 0.3s;
                        position:absolute;
                    }

                    .line-1 {
                        top:0;
                    }

                    .line-2 {
                        top:0;
                        bottom:0;
                        margin:auto;
                    }

                    .line-3 {
                        bottom:0;
                    }
                }

                .links {
                    position:fixed;
                    margin:0;
                    padding:0;
                    top:0;
                    right:-50%;
                    width:45%;
                    height:100%;
                    background-color:$color-kitsune;
                    list-style:none;
                    transition: right 0.3s;

                    .wrapper-links {
                        position:absolute;
                        top:0;
                        bottom:0;
                        margin:auto;
                        display:table;
                        width:100%;

                        li {
                            width:100%;
                            color:#FFF;
                            line-height: 40px;
                            font-size: 12px;
                        }
                    }
                }
            }

            .nav-mobile-open {
                .hamburger {
                    .line {
                        background-color: #FFF;
                    }

                    .line-2 {
                        transform:rotate(-45deg);
                        top:-9.5px;
                    }

                    .line-1 {
                        top:3px;
                        transform:rotate(45deg);
                    }

                    .line-3 {
                        opacity:0;
                    }
                }

                .links {
                    right:0;
                }
            }
        }

        .nav-stick {
            box-shadow: 0px 2px 10px 0px #B9B9B9;

            .overlay-logo {
                opacity: 0;
            }
        }

        .wrapper-sections {
            display:table;
            margin:0 auto;
            width:calc(100% - 8em);
            max-width: 80%;
            background-color:#FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
            padding-top:11em;
            overflow: hidden;

            section {
                width:98em;
                max-width:98em;
                margin: 0 auto;
                position: relative;
            }

            .section-intro {
                width: 100%;
                max-width: 100%;
                font-size:1em;
                margin-bottom: 15em;

                .wrapper-banner {
                    display: table;
                    width:100%;
                    position:relative;

                    .banner {
                        display: block;
                        width: 100%;
                    }

                    .wrapper-copy {
                        position: absolute;
                        font-family:$font-copy-thin;
                        font-weight:100;
                        left: 52%;
                        bottom:24%;
                        display:table;

                        .head {
                            font-weight: 100;
                            span {
                                font-size: 5.5em;
                                color: #383838;

                                .kitsune {
                                    font-size:1em;
                                    color:$color-kitsune;
                                }
                            }
                        }

                        .desc {
                            margin-top: -0.5em;
                            margin-left: 0.5em;
                            span {
                                color: #383838;
                                font-size: 2em;
                                line-height: 1.3em;

                                br.mobile {
                                    display:none;
                                }
                            }
                        }
                    }
                }

                .wrapper-content {
                    width:100%;
                    max-width:98em;
                    margin:0 auto;

                    .headline {
                        margin:0;
                        padding:0;
                        font-size:4em;
                        line-height:1.4em;
                        font-family: $font-copy-thin;
                        font-weight: 100;
                        padding-top:2.5em;
                        position:relative;
                        z-index:2;
                    }

                    .copy {
                        font-size: 1.5em;
                        line-height: 1.8em;
                        color:$color-copy;
                        padding-top:1.35em;
                    }
                }
                
                .wrapper-features {
                    width:100%;
                    display: table;
                    position:relative;

                    .underlay {
                        position: absolute;
                        width: 200%;
                        left: -50%;
                        height: 100%;
                        background-color: #8E8E8E;
                    }

                    .headline-features {
                        margin:0;
                        padding:0;
                        font-size:4em;
                        line-height:1.4em;
                        font-family: $font-copy-thin;
                        font-weight: 100;
                        margin-top:2.5em;
                        position:relative;
                        z-index:2;
                        margin-top:2.3em;
                        color:#FFF;
                        text-align: center;
                    }

                    .feature {
                        width:33%;
                        display:block;
                        float:left;
                        position:relative;
                        z-index:1;
                        color:#FFF;
                        padding-top:10em;

                        .icon {
                            width:7em;
                            display:block;
                            margin:0 auto;
                        }

                        .feature-head {
                            text-align:center;
                            text-transform: uppercase;
                            font-size:2em;
                            font-family: $font-copy-thin;
                            font-weight: 100;
                            margin-top:0.5em;
                        }

                        .feature-copy {
                            font-size: 1.5em;
                            line-height: 1.6em;
                            text-align:center;
                            margin-top:1em;
                            width:80%;
                            max-width:20em;
                            margin:0 auto;
                            margin-top: 0.4em;
                        }
                    }

                    .feature-padding {
                        padding-bottom:10em;
                    }

                    .feature-centralize {
                        margin-left: calc(50% - 16.5%);
                    }
                }
                
                .diagram {
                    display:block;
                    width:100%;
                    max-width:88em;
                    margin:0 auto;
                    padding-top: 12em;
                    padding-bottom:1em;
                }
                
                .diagram-2 {
                    padding-bottom:16em;
                }
            }

            .section-console {
                width:100%;
                height:91em;
                position:relative;
                margin:0 auto;
                font-size:1em;

                .intro-container {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 85%;
                    display: table;

                    .intro {
                        margin:0;
                        padding:0;
                        position:absolute;
                        top:0;
                        left:0;
                        font-size:4em;
                        line-height:1.4em;
                        font-family: $font-copy-thin;
                        font-weight: 100;
                        opacity:1;
                        transition:opacity 0.5s;

                        span {
                            color:$color-kitsune;
                        }
                    }
                }

                .browser-container {
                    font-size:0.9em;
                    position:absolute;
                    top:20em;
                    left: 72.3em;
                    width:36em;
                    height:24em;

                    .browser-frill {
                        width: 36.99em;
                        height: 2.5em;
                        background-color: #7B7B7B;
                        border-radius: 0.4em 0.4em 0 0;
                        position: relative;
                        z-index: 1;
                        left: -0.46em;

                        .button {
                            width:0.8em;
                            height:0.8em;
                            margin-left:0.4em;
                            margin-top:0.8em;
                            border-radius: 50%;
                            display: inline-block;
                        }

                        .button:first-child {
                            background-color: #FF4A3C;
                            margin-left:1em;
                        }

                        .button:nth-child(2) {
                            background-color: #FFBE4D;
                        }

                        .button:nth-child(3) {
                            background-color: #00C7A1;
                        }
                    }

                    .browser-components {
                        width:36em;
                        height:21.5em;
                        position:relative;
                        z-index: 1;

                        .component-entity {
                            @include component(100%, 100%, 1, $color-entity-o);
                        }

                        .component-view {
                            @include component(calc(100% - 3em), calc(100% - 3em), 1,$color-view-o);
                        }

                        .component-widget {
                            @include component(calc(100% - 5em), calc(100% - 5em), 3, transparent);

                            .widget-1 {
                                @include component-widget(100%, 0, auto, 0, auto);
                            }

                            .widget-2 {
                                @include component-widget(calc(60% - 0.6em), auto, 0, 0, auto);
                            }

                            .widget-3 {
                                @include component-widget(calc(40% - 0.6em), auto, 0, auto, 0);
                            }
                        }

                        .component-widgetProps {
                            @include component(calc(100% - 8em), calc(100% - 8em), 4, transparent);

                            .prop-1 {
                                @include component-widget-props(14em, 1.4em, 0, auto, 0, auto);
                            }

                            .prop-2 {
                                @include component-widget-props(25em, 0.7em, 2.3em, auto, 0, auto);
                            }

                            .prop-3 {
                                @include component-widget-props(18em, 0.7em, 3.9em, auto, 0, auto);
                            }

                            .prop-4 {
                                @include component-widget-props(11em, 0.8em, auto, 3.9em, 0, auto);
                            }

                            .prop-5 {
                                @include component-widget-props(14em, 0.8em, auto, 2.2em, 0, auto);
                            }

                            .prop-6 {
                                @include component-widget-props(5em, 1.5em, auto, 0, 0, auto);
                            }

                            .prop-7 {
                                @include component-widget-props(5em, 3em, auto, 1.7em, auto, 3.7em);
                            }

                            .prop-8 {
                                @include component-widget-props(8em, 0.7em, auto, 0, auto, 0.6em);
                            }
                        }

                        .focus-entity {
                            @include component-focus(1.03, $shadow-entity);
                        }

                        .focus-view {
                            @include component-focus(1.05, $shadow-view);
                        }

                        .focus-widget {
                            @include component-focus(1.03, none);
                            .widget {
                                @include component-focus(1, $shadow-widget);
                            }
                        }

                        .focus-widgetProps {
                            @include component-focus(1.03, none);
                            .widget-prop {
                                @include component-focus(1, $shadow-widget-props);
                            }
                        }

                        .color-entity {
                            @include component-color($color-entity);
                        }

                        .color-view {
                            @include component-color($color-view);
                        }

                        .color-widget {
                            .widget {
                                @include component-color($color-widget);
                            }
                        }

                        .color-widgetProps {
                            .widget-prop {
                                @include component-color($color-widget-props);
                            }
                        }
                    }

                    .indicator-container {
                        font-size: 0.9em;
                        position: absolute;
                        left: 0;
                        bottom: -6em;
                        height: 1.5em;
                        width: 15em;
                        z-index: 6;
                        right: 0;
                        margin: 0 auto;

                        .indicator-entity {
                            @include indicator($color-entity, 0);
                            margin-left:0;
                        }

                        .indicator-view {
                            @include indicator($color-view, 4.5em);
                        }

                        .indicator-widget {
                            @include indicator($color-widget, 9em);
                        }

                        .indicator-widgetProps {
                            @include indicator($color-widget-props, 13.5em);
                        }

                        .indicator-focus {
                            transform: scale(1.4);
                            border: solid 1px #C3C3C3;
                        }
                    }
                }

                .explaination-container {
                    width:50em;
                    height:24em;
                    position:absolute;
                    left:0;
                    top: 18em;

                    .exp-entity {
                        @include explaination($color-entity, 1);
                    }

                    .exp-view {
                        @include explaination($color-view, 2);
                    }

                    .exp-widget {
                        @include explaination($color-widget, 3);
                    }

                    .exp-widgetProps {
                        @include explaination($color-widget-props, 4);
                    }

                    .exp-focus {
                        @include exp-focus();
                    }
                }

                .code-container {
                    position:absolute;
                    width:100%;
                    bottom:0;

                    .marker-wrapper {
                        .marker-top {
                            @include marker(-0.3em, auto);
                        }

                        .marker-bottom {
                            @include marker(auto, -0.3em);
                        }

                        .marker-entity {
                            background-color:$color-entity;
                        }

                        .marker-view {
                            background-color:$color-view;
                        }

                        .marker-widget {
                            background-color:$color-widget;
                        }

                        .marker-widgetProps {
                            background-color:$color-widget-props;
                        }
                    }

                    .next-button-wrapper {

                        .next-button {
                            width: 3em;
                            height: 2.4em;
                            position: absolute;
                            left: 0;
                            top: 25.6em;
                            z-index: 5;
                            cursor:pointer;

                            .body {
                                width: 1.5em;
                                height: 0.8em;
                                background-color: #FFF;
                                display: block;
                                float: left;
                                margin-top: 0.84em;
                            }

                            .arrow {
                                width: 0;
                                height: 0;
                                border-top: 0.9em solid transparent;
                                border-bottom: 0.9em solid transparent;
                                border-left:0.9em solid #FFF;
                                display:inline-block;
                                margin-top: 0.3em;
                            }
                        }

                        .next-entity {
                            @include next-focus($color-entity, 4.9em);
                        }

                        .next-view {
                            @include next-focus($color-view, 8em);
                        }

                        .next-widget {
                            @include next-focus($color-widget, 11.1em);
                        }

                        .next-widgetProps {
                            @include next-focus($color-widget-props, 14.2em);
                        }
                    }

                    pre {
                        background-color: transparent;
                        font-size: 1.5em;
                        margin-left: -5em;
                        margin-bottom: -1em;
                        line-height: 2em;
                        font-family:$font-code;

                        span {
                            color:#616161;
                            transition: background-color 0.5s,color 0.5s;
                        }

                        .focus-entity {
                            @include code-focus($color-entity);
                        }

                        .focus-view {
                            @include code-focus($color-view);
                        }

                        .focus-widget {
                            @include code-focus($color-widget);
                        }

                        .focus-widgetProps {
                            @include code-focus($color-widget-props);
                        }
                    }
                }

                .underlay-border {
                    position: absolute;
                    width: 200%;
                    left: -50%;
                    height: 15px;
                    bottom: -10em;
                    box-shadow: 3px 6px 12px -5px rgba(0, 0, 0, 0.42);
                }
            }

            .section-perspective {
                display:none !important;
                background-color:#FBFBFB;
                margin-top:15em;

                .intro {
                    margin:0;
                    padding:1.5em;
                    font-size:4em;
                    line-height:1.4em;
                    font-family: $font-copy-thin;
                    font-weight: 100;
                    position:relative;
                    z-index:2;
                }
            }

            .section-documentation {
                width:98em;
                margin:10em auto;
                margin-top:25em;
                margin-bottom: 20em;

                .intro {
                    margin:2em 0;
                    font-size:4em;
                    line-height:1.4em;
                    font-family: $font-copy-thin;
                    text-indent: 0.4em;
                    font-weight: 100;

                    span {
                        color:$color-entity;
                    }
                }

                .bar-view {
                    width:100%;
                    height: 8em;
                    background-color:$color-doc-bar;
                    position: relative;
                    z-index: 10;
                    border-top-right-radius: 0.9em;

                    .select-view {
                        width: 21em;
                        height: 3em;
                        margin-top: 2.5em;
                        background-color: $color-doc-bar-button;
                        float: left;
                        margin-left: 1em;
                        cursor: pointer;

                        .expand {
                            float: right;
                            margin-right: 1em;
                            width: 0;
                            height: 0;
                            border-left: 0.8em solid transparent;
                            border-right: 0.8em solid transparent;
                            border-top: 0.8em solid #636363;
                            margin-top: 1.2em;
                            transform:rotate(0deg);
                            transition:transform 0.3s;
                        }

                        .view {
                            text-transform: uppercase;
                            font-size: 1.6em;
                            line-height: 1.9em;
                            color: $color-view;
                            margin-left: 1em;
                        }

                        .view-list {
                            position: relative;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            color: #D6D6D6;
                            font-size: 1.4em;
                            text-indent: 1.3em;
                            max-height:0;
                            overflow:hidden;
                            transition:max-height 0.3s;

                            div {
                                position:absolute;
                                z-index:1;
                                width:100%;
                                height:100%;
                                background-color:#717171;
                                opacity:0.9;
                                left:0;
                                top:0;
                            }

                            li {
                                text-transform: uppercase;
                                position: relative;
                                z-index: 2;
                                height: 2em;
                                line-height: 2em;
                                border-bottom: solid 1px #929292;
                                cursor:pointer;
                            }

                            li:hover {
                                color:$color-view;
                            }
                        }
                    }

                    .label {
                        line-height: 5.4em;
                        margin-left: 0.8em;
                        color: $color-view;
                        font-size: 1.5em;
                    }

                    .label-1 {
                        float:left;
                        margin-left: 2em;
                    }

                    .select-expand {
                        .view-list {
                            max-height:1000px;
                            transition:max-height 1s;
                        }
                        .expand {
                            transform:rotate(180deg);
                        }
                    }

                    button {
                        width:12em;
                        height: 3em;
                        border-radius: 0.4em;
                        border: none;
                        background-color: $color-doc-bar-button;
                        color: $color-view;
                        float: right;
                        margin-right: 3em;
                        margin-top: 2.5em;
                        padding:0;
                        cursor: pointer;
                        outline: none;
                        position:relative;

                        span {
                            font-size:1.4em;
                            text-transform: uppercase;
                            width:100%;
                            text-align: center;
                            line-height:2.23em;
                            opacity:0;
                            position:absolute;
                            top:0;
                            left:0;
                            transition:opacity 0.3s;
                        }

                        .expand {
                            opacity:1;
                        }
                    }

                    .button-collapse {
                        .expand {
                            opacity:0;
                        }
                        .collapse {
                            opacity:1;
                        }
                    }
                }

                .container-docs {
                    width:100%;
                    display: table;
                    position:relative;
                    transition:height 0.3s;
                    z-index: 2;
                    margin-top:1em;

                    .wrapper-doc {
                        width:32.5em;
                        height:9.9em;
                        transform: scale(1);
                        transition: transform 0.3s, height 0.3s;
                        position:relative;
                        float:left;
                        margin-top: 3.5em;

                        .doc {
                            width: calc(100% - 4em);
                            height: calc(100% - 2em);
                            margin: 1em;
                            position:relative;
                            transition:width 0.3s, margin-left 0.3s, height 0.3s;
                            background-color: #FFF;
                            cursor: pointer;

                            .inner-wrapper-doc {
                                width:100%;
                                height:100%;
                                position:relative;
                                z-index:3;
                                overflow:hidden;

                                .button-expand {
                                    position: absolute;
                                    width: 1.2em;
                                    height: 1.2em;
                                    background-color:#E6E6E6;
                                    border-radius: 50%;
                                    right: 0.5em;
                                    bottom: 0.84em;
                                    z-index: 3;
                                    color: #FFF;
                                    font-size: 2.4em;
                                    cursor:pointer;
                                    transition:background-color 0.3s, bottom 0.3s;

                                    span {
                                        position: absolute;
                                        line-height: 1em;
                                        width:100%;
                                        left:0;
                                        transition:opacity 0.3s;
                                    }

                                    .collapse {
                                        opacity:0;
                                        text-indent: 0.3em;
                                        line-height: 1.1em;
                                    }

                                    .expand {
                                        opacity:1;
                                        text-indent:0.33em;
                                    }
                                }

                                .overview {
                                    width:28.5em;
                                    height:100%;
                                    float:left;
                                    transition:width 0.3s;
                                    transition-delay: 0.3s;
                                    position:relative;
                                    z-index:3;

                                    .widget,.prop {
                                        display: block;
                                        font-size: 1.5em;
                                        line-height: 2.5em;
                                        cursor:pointer;
                                    }

                                    .widget {
                                        height: 5.334em;
                                        text-transform: uppercase;
                                        position: relative;
                                        color:$color-widget;

                                        .name {
                                            display:table;
                                            margin-left:4em;
                                            line-height: 5em;

                                            span {
                                                font-family: $font-copy-italic;
                                            }
                                        }
                                    }

                                    .prop:nth-child(2) {
                                        border-top: dashed 1px #A7A7A7;
                                        padding-top: 1.5em;
                                    }

                                    .prop {
                                        color: #8C8C8C;
                                        text-indent: 4.5em;
                                        padding-top: 1.47em;
                                        line-height: 2em;
                                        opacity:0;
                                        transition:opacity 0.3s;

                                        span {
                                            text-transform: uppercase;
                                            font-size: 0.9em;
                                        }

                                        .optional {
                                            font-family: $font-copy-italic;
                                        }
                                    }

                                    .prop-mandatory {
                                        color:$color-kitsune;
                                    }
                                }

                                .detail {
                                    position:absolute;
                                    z-index:3;
                                    top:0;
                                    left: 19.9em;
                                    width: 49.8em;
                                    height: 100%;
                                    color: #616161;
                                    font-size: 1.4em;
                                    line-height: 1.5;
                                    font-family:$font-copy;
                                    opacity:0;
                                    transition: opacity 0.3s;
                                    pointer-events: none;

                                    .detail-widget {
                                        height: 5.75em;
                                        border-bottom: dashed 1px #A7A7A7;
                                        position:relative;
                                        margin-bottom:2em;

                                        span {
                                            display:table;
                                            line-height: 5em;
                                        }
                                    }

                                    .detail-prop {
                                        height: 2.2em;
                                        position: relative;
                                        margin-top: 1.5em;
                                        line-height: 1.4em;
                                        width:95%;

                                        span {
                                            font-size: 1em;
                                        }
                                    }
                                }

                                .label {
                                    position:absolute;
                                    z-index:3;
                                    height: 4em;
                                    line-height: 4em;
                                    color: #FFF;
                                    width: 48em;
                                    transform: rotate(-90deg);
                                    left: -21.9em;
                                    top: 22em;
                                    background-color:#FFF;
                                    transition: background-color 0.3s;
                                    transition-delay:0.3s;

                                    .widget {
                                        float: right;
                                        font-size: 1.3em;
                                        width: 6.1em;
                                        text-align: center;
                                        background-color: #00AFF0;
                                        text-transform: uppercase;
                                        border-left: dashed 1px #E6E6E6;
                                    }

                                    .widgetProps {
                                        font-size: 1.3em;
                                        float:right;
                                        text-transform: uppercase;
                                        margin-right:1em;
                                    }
                                }
                            }

                            .underlay-border {
                                position:absolute;
                                width:100%;
                                height:calc(100% - 1px);
                                left:0;
                                top:0;
                                z-index:2;
                                border:solid 1px #DCDCDC;
                                border-top-right-radius: 0.9em;
                                border-bottom-right-radius: 0em;
                                transition:border-bottom-right-radius 0.3s;

                            }

                            .underlay-color {
                                background-color:#FFF;
                                position:absolute;
                                width:calc(100% + 2em);
                                height:calc(100% + 2em);
                                left:-1em;
                                top:-1em;
                                z-index:1;
                            }
                        }

                        .doc-optional {
                            .inner-wrapper-doc {
                                .overview {
                                    .widget {
                                        color:#8DD7F7;
                                    }
                                }

                                .label {
                                    .widget {
                                        background-color: #8DD7F7;
                                    }
                                }
                            }
                        }
                    }

                    .wrapper-doc:hover {
                        .doc {
                            .button-expand {
                                background-color: #A3A3A3;
                            }
                        }
                    }

                    .wrapper-doc-left {
                        .doc {
                            margin-left:0;
                        }
                    }

                    .wrapper-doc-center {
                        .doc {
                            margin-left: 2em;
                        }
                    }

                    .wrapper-doc-right {
                        .doc {
                            margin-right: 0;
                            float:right;
                        }
                    }

                    .wrapper-doc-expand {
                        height:49.1em;

                        .doc {
                            height:48em;
                        }
                    }

                    .doc-expand {
                        .doc {
                            height:48em;
                            transition-delay: 0s !important;

                            .inner-wrapper-doc {
                                .label {
                                    transition-delay: 0s !important;
                                    background-color: #787878;
                                }

                                .button-expand {
                                    bottom:0.5em;
                                }

                                .overview {
                                    .prop {
                                        transition-delay: 0s;
                                        opacity:1;
                                    }
                                }
                            }

                            .underlay-border {
                                border-bottom-right-radius: 0.9em;
                            }
                        }
                    }

                    .doc-expand-left {
                        @include doc-expand(0);
                    }

                    .doc-expand-center {
                        @include doc-expand(-32.5em);
                    }

                    .doc-expand-right {
                        @include doc-expand(-65em);
                    }

                    .doc-hide {
                        transition: transform 0.3s;
                        transform:scale(0);
                        width:0 !important;
                    }
                }

                .underlay {
                    position: absolute;
                    width: calc(100% + 8em);
                    height: calc(100% + 9em);
                    top: -5em;
                    left: -4em;
                    border: dashed 1px #A7A7A7;
                    border-radius: 1em;
                }

                .underlay-doc-border {
                    position: absolute;
                    width: 200%;
                    left: -50%;
                    height: 15px;
                    bottom: -17em;
                    box-shadow: 3px 6px 12px -5px rgba(0, 0, 0, 0.42);
                }
            }

            .section-boosters {
                width:98em;
                margin:0 auto;
                padding-bottom: 6em;

                .intro {
                    margin:0 auto;
                    padding:2em 0;
                    font-size:4em;
                    line-height:1.4em;
                    font-family: $font-copy-thin;
                    padding-left: 0.4em;
                    font-weight: 100;

                    span {
                        color:$color-kitsune;
                    }
                }

                .container-boosters {
                    width:100%;
                    display:table;
                    margin-left:1em;
                    padding-top: 2em;
                    transition: height 0.3s;

                    .container-booster {
                        width:15em;
                        height:15em;
                        margin-right:12em;
                        margin-bottom:9em;
                        float:left;
                        position:relative;
                        cursor:pointer;

                        .booster {
                            z-index:2;
                            max-height:12em;
                            padding-bottom: 3em;
                            width:100%;
                            overflow:hidden;
                            position:relative;
                            border:solid 1px #DCDCDC;
                            border-radius:50%;
                            left:0;
                            top:0;
                            transition:transform 0.3s, width 0.3s, max-height 0.3s, border-radius 0.3s, left 0.3s, top 0.3s;

                            .booster-name {
                                @include absolute-center();
                                text-align: center;
                                font-size:1.6em;
                                color:$color-kitsune;
                                display: table;
                                width:100%;
                                text-align:center;
                                height:2em;
                                z-index:2;
                            }

                            .content {
                                width:98em;
                                min-height:15em;
                                position:relative;
                                z-index:2;
                                padding-bottom: 0.3em;
                                transition:max-height 0.3s;
                                overflow:hidden;
                                pointer-events: none;

                                .name {
                                    font-size:2.5em;
                                    color:$color-kitsune;
                                    display: table;
                                    width:100%;
                                    padding-top:1em;
                                    padding-left:1.5em;
                                }

                                .desc {
                                    width:calc(100% - 3em);
                                    padding-left:2em;
                                    padding-top:1.5em;
                                    font-size:1.8em;
                                }

                                pre {
                                    margin: 3em 3.5em;
                                    margin-bottom: 1em;
                                    width: calc(100% - 7em);
                                    background-color: #717171;
                                    color: #FFF;
                                    position:relative;
                                    border-radius: 0.2em;
                                    padding-top: 1em;
                                    border-radius:0.3em;

                                    code {
                                        font-size: 1.5em;
                                        line-height: 1.7em;
                                        left: -16em;
                                        position: relative;
                                    }
                                }

                                .name, .desc, pre {
                                    opacity:0;
                                    transition:opacity 0.3s;
                                    transition-delay:0;
                                }
                            }

                            .underlay {
                                width:100%;
                                height:100%;
                                border-radius:50%;
                                background-color:#FFF;
                                position:absolute;
                                top:0;
                                left:0;
                                z-index:1;
                                transition:border-radius 0.3s;
                            }

                            .close {
                                position: absolute;
                                top: 1em;
                                right: 1em;
                                font-size: 1.6em;
                                z-index: 3;
                                background-color: #A3A3A3;
                                height: 1.6em;
                                width: 1.6em;
                                line-height: 1.7em;
                                border-radius: 50%;
                                text-indent: 0.45em;
                                color: #FFF;
                                cursor:pointer;
                                opacity: 0;
                                padding:0.15em;
                            }
                        }
                    }
                    
                    .container-booster:nth-child(4n) {
                        margin-right:0;
                    }

                    .container-booster:hover {
                        .booster {
                            border:solid 1px $color-kitsune;
                        }
                    }
                    
                    .booster-no-click {
                        pointer-events: none;
                    }

                    .booster-top {
                        z-index:3;
                    }

                    .booster-expand {
                        cursor: default;

                        .booster {
                            border:solid 1px $color-kitsune;
                            width:98em;
                            height:auto;
                            max-height:100em;
                            border-radius:0.4em;

                            .underlay {
                                border-radius:0.4em;
                            }

                            .booster-name {
                                opacity:0;
                            }

                            .content {
                                max-height:1000px;
                                transition-delay:0s;

                                .name, .desc, pre {
                                    opacity:1;
                                    transition:opacity 0.3s;
                                    transition-delay:0.2s;
                                }
                            }

                            .close {
                                opacity:1;
                                transition:opacity 0.3s;
                                transition-delay:0.2s;
                            }
                        }
                    }
                    
                    .booster-expand-2 {
                        .booster {
                            left: -27em;
                        }
                    }
                    
                    .booster-expand-3 {
                        .booster {
                            left: -54em;
                        }
                    }
                    
                    .booster-expand-4 {
                        .booster {
                            left: -81em;
                        }
                    }
                }

                .underlay-border {
                    position: absolute;
                    width: 200%;
                    left: -50%;
                    height: 15px;
                    bottom: 0;
                    box-shadow: 3px 6px 12px -5px rgba(0, 0, 0, 0.42);
                }
            }

            .section-enquiry {
                padding:5em 0;
                padding-bottom: 10em;

                .head {
                    margin:0;
                    font-size:4em;
                    line-height:1.4em;
                    font-family: $font-copy-thin;
                    font-weight: 100;
                    position:relative;
                    z-index:2;
                    
                    span {
                        color:$color-kitsune;
                        font-size:0.9em;
                    }
                }

                form {
                    display: table;
                    width:100%;
                    margin-top: 5em;
                    position:relative;
                    z-index: 2;

                    .wrapper-input {
                        width:30%;
                        display: block;
                        position:absolute;
                        right:0;
                        height:100%;

                        input {
                            display: block;
                            width: calc(100% - 4px);
                            text-indent: 1.5em;
                            line-height: 2.5em;
                            text-transform: uppercase;
                            font-size: 2em;
                            position: absolute;
                            right:0;
                            padding:0;
                            height: 2.5em;
                            border: solid 1px $color-enquiry-border;
                            -webkit-appearance: none;
                            border-radius: 0 !important;
                        }

                        .email {
                            top: 0;
                            bottom:0;
                            margin:auto;
                        }

                        .submit {
                            bottom: 0em;
                            border: none;
                            background-color: $color-kitsune;
                            color: #FFF;
                            text-align: center;
                            text-indent: 0;
                            width:calc(100% - 2px);
                        }
                    }

                    .wrapper-textarea {
                        width:60%;
                        display:block;

                        .message {
                            display: block;
                            width: 100%;
                            height: 12em;
                            max-height: 12em;
                            font-size: 2em;
                            padding-left: 1.5em;
                            padding-top: 1.1em;
                            border-color: $color-enquiry-border;
                            -webkit-appearance: none;
                            border-radius: 0 !important;
                        }
                    }
                }
            }

            .section-footer {
                width:100%;
                max-width:100%;
                background-color: $color-footer;

                .strip {
                    width:100%;
                    height:1em;
                    background-color:$color-kitsune;
                }

                .container-copyright {
                    display:table;
                    padding: 2.5em 0;
                    margin-left: 12%;

                    .container-logo {
                        display:table-cell;
                        border-right:solid 1px $color-kitsune;

                        img {
                            display:block;
                            width:13.5em;
                            margin-right:3em;
                            padding: 2.5em 0;
                        }
                    }

                    .container-copy {
                        display:table-cell;
                        vertical-align: middle;

                        span {
                            text-align: left;
                            padding-left: 2.8em;
                            display: block;
                            font-size: 1.3em;
                            line-height: 1.3em;
                            color:$color-kitsune;

                            br {
                                display: none;
                            }

                            a {
                                color:$color-kitsune !important;
                                text-decoration: none !important;
                            }
                        }
                    }
                }

                .container-social {
                    position:absolute;
                    right:18%;
                    top:4.8em;

                    .head {
                        color:$color-kitsune;
                        font-size: 1.3em;
                        display: block;
                        margin-bottom:1em;
                    }

                    .icon-social {
                        display:block;
                        width:3.5em;
                        float:left;
                        margin-right:2em;
                    }
                }
            }

            .section-hide {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    html {
        font-size:9px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size:8px;
    }
}

@media only screen and (max-width: 1020px) {
    html {
        font-size:7px;

        body {
            .section-navigation, .wrapper-sections {
                max-width:90%;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size:7px;

        body {
            .section-navigation, .wrapper-sections {
                max-width:100%;
                width:100%;
            }

            .wrapper-sections {

                .section-console {

                    .browser-container {
                        font-size: 7px;
                        top: 7em;
                        left: 59em;

                        .indicator-container {
                            font-size:8px;
                            width: 18em;

                            .indicator-view {
                                left:5.5em;
                            }

                            .indicator-widget {
                                left:11em;
                            }

                            .indicator-widgetProps {
                                left:16.5em;
                            }
                        }
                    }

                    .explaination-container {
                        font-size: 8px;
                        top:15em;
                    }
                }

                .section-documentation {
                    .bar-view {
                        .select-view {
                            .view-list li {
                                height: 3em;
                                line-height: 3em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    html {
        body {
            .section-navigation {
                height:50px;

                .logo {
                    width:55px;
                    margin-top:10px;
                    margin-left:16px;
                }

                .nav-mobile {
                    display:block;
                }

                .overlay-logo, .nav-main {
                    display:none;
                }
            }

            .wrapper-sections {
                padding-top:50px;

                .section-intro {
                    margin-bottom:7em;

                    .wrapper-banner {
                        background-image: url(../images/banner-1.jpg);
                        background-size: 130% 107%;
                        background-position-x: 63%;
                        padding-bottom: 45%;

                        .banner {
                            display:none;
                        }

                        .wrapper-copy {
                            font-size: 5px;
                            top:0;
                            bottom:0;
                            right:0;
                            left:40%;
                            margin:auto;

                            .head {
                                font-size: 5px;
                                margin-bottom: 0px;
                            }

                            .desc {
                                span {
                                    font-size: 12px;
                                    line-height: 17px;

                                    br.notmobile {
                                        display:none;
                                    }

                                    br.mobile {
                                        display:block;
                                    }
                                }
                            }
                        }
                    }

                    .wrapper-content {
                        padding-bottom: 7em;

                        .headline {
                            font-size: 17px;
                            line-height: 25px;
                            text-align:center;
                        }

                        .copy {
                            text-align:center;
                            width:94%;
                            margin:0 auto;
                        }
                    }

                    .wrapper-features {
                        padding-bottom: 40px;

                        .headline {
                            font-size: 17px;
                            line-height: 25px;
                        }

                        .feature {
                            width:50%;
                            padding-top:7em;

                            .icon {
                                width:36px;
                            }

                            .feature-head {
                                font-size:12px;
                                margin-top:15px;
                            }
                        }

                        .feature-padding {
                            padding-bottom: 0;
                        }
                    }
                }

                .section-console {
                    height:98em;

                    .intro-container {
                        width:100%;

                        .intro {
                            font-size: 17px;
                            line-height: 25px;
                            white-space: nowrap;
                            text-align:center;
                            width:100%;

                            br {
                                display:none;
                            }
                        }
                    }

                    .explaination-container {
                        top: 29em;
                        width:100%;
                        height:20em;

                        .exp {
                            .wrapper {
                                width:94%;
                                right:0;
                                margin:0 auto !important;

                                h3, p {
                                    text-align:center !important;
                                }

                                h3 {
                                    font-size: 17px;
                                }
                            }
                        }
                    }

                    .browser-container {
                        font-size: 5px;
                        left:0;
                        right:0;
                        margin:0 auto;
                        top:11em;

                        .indicator-container {
                            font-size: 7px;
                        }
                    }

                    .code-container {
                        bottom:1em;

                        .next-button {
                            display:none;
                        }

                        pre {
                            margin-left:-140px;
                        }

                        .marker-wrapper {
                            .marker-top {
                                top:10px;
                            }

                            .marker-bottom {
                                bottom:10px;
                            }
                        }
                    }

                    .underlay-border {
                        bottom:0;
                    }
                }

                .section-enquiry {
                    font-size:3px;
                    padding-top:8em;

                    .head {
                        font-size:17px;
                    }
                }

                .section-footer {
                    .container-copyright {
                        margin-left: 15px;

                        .container-logo {
                            img {
                                width:50px;
                                margin-right: 10px;
                                padding: 6px 0;
                            }
                        }

                        .container-copy {
                            span {
                                padding-left: 10px;
                                font-size: 7px;
                                line-height: 11px;

                                br {
                                    display:block;
                                }
                            }
                        }
                    }

                    .container-social {
                        right: 15px;
                        top: 27px;
                        .head {
                            font-size: 7px;
                        }

                        .icon-social {
                            width:15px;
                        }
                    }
                }

                .section-documentation {
                    font-size:5px;
                    margin-top:9em;
                    width:100%;
                    margin-bottom: 8em;

                    .bar-view {
                        border-radius:0;

                        .label {
                            font-size: 8px;
                            line-height: 41px;
                        }

                        .select-view .view, button span {
                            font-size:8px;
                            line-height: 16px;
                        }

                        .view-list li {
                            height: 3.5em;
                            line-height: 3.5em;
                        }
                    }

                    .container-docs {
                        .wrapper-doc {
                            width:50%;
                            animation: mobile;

                            .doc {
                                float:none;
                                margin:1em auto;

                                .inner-wrapper-doc {
                                    .overview {
                                        width:100%;
                                    }
                                }
                            }
                        }
                    }

                    .intro {
                        font-size:17px;
                    }

                    .underlay {
                        display:none;
                    }

                    .underlay-doc-border {
                        bottom: -7em;
                    }
                }
            }
        }
    }
}

@import './biz.scss';
@import './docs.scss';